

%section#objective.download.bg-primary.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-heading Objetivos de la jornada
        %p
          Las III Jornadas Costarricenses de Investigación en Computación e Informática tienen como objetivo difundir la investigación realizada en estas áreas entre la comunidad científica, académica y estudiantil del país. Se espera que se
          conviertan en un espacio no solo de divulgación sino de encuentro y construcción de redes de investigadores en temas de interés para la comunidad nacional.
        /
          <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>
%section#important-dates.features
  .container
    .row
      .col-lg-12.text-center
        .section-heading
          %h2 Organizadores
          %p.text-muted
            Centro de Investigaciones en Computación, Instituto Tecnológico de Costa Rica Unidad de Posgrado en Computación, Instituto Tecnológico de Costa Rica Centro de Investigaciones
          %hr/
    /
      <div class="row">
      <div class="col-md-4">
      <div class="device-container">
      <div class="device-mockup iphone6_plus portrait white">
    /
      <div class="device">
      <div class="screen">
    / Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
    /
      <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
      <div class="button">
    / You can hook the "home button" to some JavaScript events or just remove it
    /
      </div>
      </div>
    /
      </div>
      </div>
      </div>
    .row
      .container-fluid
        .row
          .col-md-4
            .feature-item
              %i.glyphicon.glyphicon-calendar.text-primary
              %h3 22/5/2017
              %p.text-muted Envío de propuestas.
          .col-md-4
            .feature-item
              %i.glyphicon.glyphicon-calendar.text-primary
              %h3 26/6/2017
              %p.text-muted Notificación de aceptación.
          .col-md-4
            .feature-item
              %i.glyphicon.glyphicon-calendar.text-primary
              %h3 23/8/2017 - 24/8/2017
              %p.text-muted Realización del evento
        / <div class="row">
        / </div>
%section.know-more-about
  .cta-content
    .container
      %a.btn.btn-outline.btn-xl.btn-hover{:href => new_register_url} Registrarse
  .overlay
%section#contact.contact.bg-primary.features
  .container
    %h2 Contacto
    .row
      -# .col-md-6
      -#   .feature-item
      -#     %i.glyphicon.glyphicon-envelope.text-primary
      -#     %p.text-muted jocici@itcr.ac.cr
      .col-md-12
        .feature-item
          %i.glyphicon.glyphicon-envelope.text-primary
          %p.text-white mestrada@itcr.ac.cr
    /
      <footer>
      <div class="container">
      <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
      <ul class="list-inline">
      <li>
      <a href="#">Privacy</a>
      </li>
      <li>
      <a href="#">Terms</a>
      </li>
      <li>
      <a href="#">FAQ</a>
      </li>
      </ul>
      </div>
      </footer>
    / jQuery
