%h1 Listing registers

%table.table
  %thead
    %tr
      %th Nombre
      %th Apellido
      %th Correo electrónico
      %th
      %th
      %th

  %tbody
    - Register.all.each do |register|
      %tr
        %td= register.name
        %td= register.lastName
        %td= register.email
