
%section#relevant-topics.bg-primary.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-heading Temas de interés
        %p
          Seguridad informática
          %br/
          Ingeniería de software
          %br/
          Sistemas distribuidos, concurrentes y ubicuos
          %br/
          Procesamiento digital de señales
          %br/
          Sistemas embebidos
          %br/
          Interacción persona-computador
          %br/
          Inteligencia artificial y sistemas
          inteligentes
          %br/
          Modelado y optimización de sistemas
          %br/
          Computación científica
          %br/
          Bioinformática
          %br/
          Lenguajes, modelos y ambientes de programación
          %br/
          Bases de datos y minería de datos
          %br/
          Desarrollos computacionales para la educación
          %br/
          Informática, sociedad y género
          %br/
          Dispositivos móviles
          %br/
          Gobierno electrónico
          %br/
          Gobernabilidad de las tecnologías
          %br/
          Comercio electrónico
          %br/
          Software libre (track académico)
        /
          <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>
%section#committeeOrg
  .container
    .row
      .col-lg-12.text-center
        .section-heading
          %h2 Estructura de trabajo
          %p{:style => "text-align:justify; text-indent:50px;"}
            Los trabajos deben ser originales y presentados en formato de resumen de artículo científico, con un máximo de 4 páginas. Deben contener las siguientes secciones (los títulos pueden variar):
            %br/
            Introducción (debe incluir la
            definición del problema y la justificación de su importancia)
            %br/
            Metodología
            %br/
            Resultados
            %br/
            Conclusiones
            %br/
            Investigación futura (opcional)
            %br/
            Serán bienvenidos trabajos que reporten resultados preliminares de investigaciones en proceso.
%section#work-sending.bg-primary.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-heading Envío de trabajo
        %p{:style => "text-align:left; text-indent:50px;"}
          Las propuestas deben ser escritas en español o inglés. Se debe utilizar el formato ACM CHI Archive, disponible para LaTeX en http://www.sigchi.org/publications/chipubform/sigchi-papers-latex-template/view  y para Word en http://www.sigchi.org/publications/chipubform/sigchi-papers-word-template/view. La longitud de los trabajos no debe exceder 4 páginas (incluyendo referencias). Los artículos en PDF deben enviados utilizando www.easychair.org. Las propuestas que no utilicen el formato indicado o que excedan la longitud máxima serán rechazadas.
        /
          <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>
%section#committeeOrg
  .container
    .row
      .col-lg-12.text-center
        .section-heading
          %h2 Criterio de selección
          %p{:style => "text-align:justify; text-indent:50px;"}
            Las ponencias serán evaluadas de acuerdo a su originalidad, pertinencia, calidad y claridad. La evaluación de cada ponencia la realizarán al menos dos miembros del comité del programa. Para dar oportunidad a la mayor cantidad de investigadores posible, se limitará el envío a máximo 2 ponencias para cada autor principal.
%section#work-sending.bg-primary.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-heading Presentación y divulgación de los trabajos
        %p{:style => "text-align:left; text-indent:50px;"}
          Los artículos serán publicados digitalmente. Adicionalmente a los autores se entregará copia de las memorias en papel con número ISBN.
          Los autores de los trabajos aceptados deberán presentarlos oralmente durante el lapso que se les asigne en las Jornadas. Adicionalmente, podrán exponerlos en forma de poster durante una sesión especial denominada
          = succeed "." do
            %strong Construcción de Redes de Investigadores
