%section#committee.bg-primary.text-center
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-heading Comité del Programa
        .row
          Dr. José Enrique Araya Monge (ITCR, Costa Rica)
        .row
          Dr. Cesar Garita (ITCR, Costa Rica)
        .row
          Dr. Erick Mata (ITCR, Costa Rica)
        .row
          Dr. Roberto Cortés (ITCR, Costa Rica)
        .row
          Dr. Francisco Torres (ITCR, Costa Rica)
        .row
          Msc. María Estrada (ITCR, Costa Rica)
        .row
          Dra. Gabriela Barrantes (UCR,  Costa Rica)
        .row
          MSc. Marta Calderón (UCR, Costa Rica)
        .row
          Dr. Arturo Camacho (UCR, Costa Rica)
        .row
          Dra. Yudith Cardinale (USB, Venezuela)
        .row
          Dra. Ileana Castillo (UCR, Costa Rica)
        .row
          Dra. Mayela Coto (UNA, Costa Rica)
        .row
          Dr. Ernesto Cuadros (Universidad Católica San Pablo, Perú)
        .row
          Dra. Gabriela Marín (UCR, Costa Rica)
        .row
          Dr. Francisco Mata (UNA, Costa Rica)
        .row
          Dr. Sergio Ochoa (Universidad de Chile, Chile)
        .row
          Dr. Oscar Pastor  (Universitat Politècnica de València, España)
        .row
          Dr. Ramon Puigjaner (Universitat de les Illes Balears, España)
        .row
          Dr. Leonid Tineo (USB, Venezuela)
        .row
          Universidad Nacional de Córdoba
        /
          <div class="badges">
          <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
          </div>
%section#committeeOrg
  .container
    .row
      .col-lg-12.text-center
        .section-heading
          %h2 Comité organizador
          %p
            %strong Chair
            Msc María Estrada Sánchez (ITCR)
            %br/
            %strong CoChair
            Dr. Gabriela Marín Raventós (UCR)
            %br/
            = succeed ":" do
              %strong Centro de Investigaciones en Computación (CIC)
            %br/
            = succeed ":" do
              %strong Por Unidad de Posgrado en Computación
